.footer {
  padding: 1rem 0;
  border-top: 1px solid #eee;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #888;
  }
}

.socialLinks a:hover {
  color: var(--primary-color) !important;
}