.card {
  height: 100%;
  padding: 1rem;
  border: 1px solid #eee;
}

.contentContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}